<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		form{
			display: flex;
			flex-direction: column;
		}
	</style>
</head>
<body>
	<form id="newuser" action="" method="post">
		<label for="user-name">Nom d'utilisateur</label>
		<input type="text" name="user-name">
		<label for="user-text">Mail</label>
        <input type="text" name="user-mail">
        <label for="user-text">Mot de passe</label>
		<input type="password" name="user-password">
		<br><br>
		<button type="submit">Enregistrer</button>
	</form>
</body>
</html>